
@font-face {
    font-family: Avenir-Roman, sans-serif;;
    src: url(../src/styles/AvenirHeavy.ttf);
  }

body, html{
    margin: 0;

    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 700;

    color: white;
    /*background: linear-gradient(190deg, rgba(0,0,0,1) 0%, rgba(6,6,9,1) 10%, rgba(30,34,47,1) 100%);
*/
}
    

    *{
        box-sizing: border-box;
    }

 
      